os
numpy 
base64
dash
dcc
html
dash_bootstrap_components 
Dash, html, dcc, callback, Input, Output, State
 PreventUpdate
dash_bootstrap_components
io
cv2
easyocr
import dash_table
re
pandas 
googletrans 
collections 
pandas
